:root {
    --grey: #545861;
    --lemon-chiffon: #FFFACD;
    --body-yellow: #f3e199;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Georgia, serif;
}

h3 {
    font-size: 50px;
}
/* header properties*/
.header {
    padding: 1.5rem 1rem;
    color: var(--grey);
    background-color: var(--lemon-chiffon);
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

.header .links {
    padding-top: -20px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    position: relative;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline;
    margin-left: 25px;
}

a {
    color: var(--grey);
    text-decoration: none;
}
 
.info-bar:hover {
    font-size: 1rem;
    transition: all 1s ; 
  }

  .about-me {
    display: grid;
    align-items: center;
    background-color: var(--body-yellow);
    color: var(--grey);
  }

  .port-img{
    max-width: 20%;
    max-height: 100%;
    float: right;
    padding: 20px;
  }

  .ab-text {
    position: absolute;
    padding: 20px;
    line-height: 4rem;
  }

  p {
    font-size: 16px;
  }

/* work section*/
.work {
  background-color: var(--body-yellow);
  color: var(--grey);
  width: 100%;
}
.work-text {
    padding: 20px;
}

.work-grid {
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.survey {
    width: 1015px;
    height: 700px;
}
.tribute {
    width: 500px;
    height: 333px;
}

.placeholder {
    width: 500px;
    height: 100%;
}

.work-tile {
   position: relative;
}

.work-title {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}

h4 span {
    color: var(--grey); 
    font: bold 30px/20px georgia, serif; 
    background: var(--body-yellow);
    padding: 10px; 
}

/* contact section*/

.contact-me {
    background-color: var(--lemon-chiffon);
    color: var(--grey);
    padding: 20px;
}

.contacts {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.btn-contact {
    font-size: 2rem;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.btn-contact:hover {
    transform: translateY(8px);
}